extends layouts/main-layout.pug

block content
  if !profileUser
    span.errorMessage Tenha certeza que você procurou pelo usuário corretamente.
  else
    script.
      var profileUserId = '!{profileUser._id}';
      var selectedTab = '!{selectedTab}';
    .tabsContainer
      +createTab('Seguindo', `/profile/${profileUser.username}/following`, selectedTab != "followers")
      +createTab('Seguidores', `/profile/${profileUser.username}/followers`, selectedTab == "followers")
    .resultsContainer

block scripts
  script(src="/js/followers.js")