extends layouts/main-layout.pug

block content

  .searchBarContainer
    i.fas.fa-search
    input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Pesquise por usuário ou postagens.")

  .tabsContainer
    +createTab('Postagens', `/search/posts`, selectedTab != "users")
    +createTab('Usuários', `/search/users`, selectedTab == "users")
  .resultsContainer

  +createPostModals(userLoggedIn)
block scripts
  script(src="/js/search.js")